data:
  train_path: s3://gunmlartifacts/datalake/raw_zone/train.csv #${hydra:runtime.cwd}/../raw_data/train.csv
  test_path: s3://gunmlartifacts/datalake/raw_zone/train.csv #${hydra:runtime.cwd}/../raw_data/test.csv
  landing_zone_path: s3://gunmlartifacts/datalake/landing_zone/  #${hydra:runtime.cwd}/../s3_data
  validated_train_path: s3://gunmlartifacts/datalake/landing_zone/train.csv #${hydra:runtime.cwd}/../s3_data/train.csv
  feature_store_path: s3://gunmlartifacts/feature_store
  x_path: s3://gunmlartifacts/feature_store/X.npy #${hydra:runtime.cwd}/../s3_data/X.npy
  y_path: s3://gunmlartifacts/feature_store/y.npy #${hydra:runtime.cwd}/../s3_data/y.npy
hyperparams:
  n_estimators: 200
  max_depth: 15
  n_jobs: -1
mlflow:
  tracking_uri: 'http://127.0.0.1:5000'
  experiment_name: "housepricing_rf"